@media screen and (min-width: 0.0px) and (max-width: 19.2px),
       screen and (min-height: 0.0px) and (max-height: 10.8px) {
    .fs100 { font-size: 0.01em; }
    .fs125 { font-size: 0.01em; }
    .fs150 { font-size: 0.01em; }
    .fs200 { font-size: 0.02em; }
    .fs500 { font-size: 0.05em; }
    .pad5  { padding: 0.05px; }
    .pad10 { padding: 0.1px; }
    .pad15 { padding: 0.15px; }
    .pad20 { padding: 0.2px; }
}
@media screen and (min-width: 96.0px) and (max-width: 115.2px),
       screen and (min-height: 54.0px) and (max-height: 64.8px) {
    .fs100 { font-size: 0.06em; }
    .fs125 { font-size: 0.08em; }
    .fs150 { font-size: 0.09em; }
    .fs200 { font-size: 0.12em; }
    .fs500 { font-size: 0.3em; }
    .pad5  { padding: 0.3px; }
    .pad10 { padding: 0.6px; }
    .pad15 { padding: 0.9px; }
    .pad20 { padding: 1.2px; }
}
@media screen and (min-width: 192.0px) and (max-width: 211.2px),
       screen and (min-height: 108.0px) and (max-height: 118.8px) {
    .fs100 { font-size: 0.11em; }
    .fs125 { font-size: 0.14em; }
    .fs150 { font-size: 0.16em; }
    .fs200 { font-size: 0.22em; }
    .fs500 { font-size: 0.55em; }
    .pad5  { padding: 0.55px; }
    .pad10 { padding: 1.1px; }
    .pad15 { padding: 1.65px; }
    .pad20 { padding: 2.2px; }
}
@media screen and (min-width: 288.0px) and (max-width: 307.2px),
       screen and (min-height: 162.0px) and (max-height: 172.8px) {
    .fs100 { font-size: 0.16em; }
    .fs125 { font-size: 0.2em; }
    .fs150 { font-size: 0.24em; }
    .fs200 { font-size: 0.32em; }
    .fs500 { font-size: 0.8em; }
    .pad5  { padding: 0.8px; }
    .pad10 { padding: 1.6px; }
    .pad15 { padding: 2.4px; }
    .pad20 { padding: 3.2px; }
}
@media screen and (min-width: 384.0px) and (max-width: 403.2px),
       screen and (min-height: 216.0px) and (max-height: 226.8px) {
    .fs100 { font-size: 0.21em; }
    .fs125 { font-size: 0.26em; }
    .fs150 { font-size: 0.32em; }
    .fs200 { font-size: 0.42em; }
    .fs500 { font-size: 1.05em; }
    .pad5  { padding: 1.05px; }
    .pad10 { padding: 2.1px; }
    .pad15 { padding: 3.15px; }
    .pad20 { padding: 4.2px; }
}
@media screen and (min-width: 480.0px) and (max-width: 499.2px),
       screen and (min-height: 270.0px) and (max-height: 280.8px) {
    .fs100 { font-size: 0.26em; }
    .fs125 { font-size: 0.33em; }
    .fs150 { font-size: 0.39em; }
    .fs200 { font-size: 0.52em; }
    .fs500 { font-size: 1.3em; }
    .pad5  { padding: 1.3px; }
    .pad10 { padding: 2.6px; }
    .pad15 { padding: 3.9px; }
    .pad20 { padding: 5.2px; }
}
@media screen and (min-width: 576.0px) and (max-width: 595.2px),
       screen and (min-height: 324.0px) and (max-height: 334.8px) {
    .fs100 { font-size: 0.31em; }
    .fs125 { font-size: 0.39em; }
    .fs150 { font-size: 0.46em; }
    .fs200 { font-size: 0.62em; }
    .fs500 { font-size: 1.55em; }
    .pad5  { padding: 1.55px; }
    .pad10 { padding: 3.1px; }
    .pad15 { padding: 4.65px; }
    .pad20 { padding: 6.2px; }
}
@media screen and (min-width: 672.0px) and (max-width: 691.2px),
       screen and (min-height: 378.0px) and (max-height: 388.8px) {
    .fs100 { font-size: 0.36em; }
    .fs125 { font-size: 0.45em; }
    .fs150 { font-size: 0.54em; }
    .fs200 { font-size: 0.72em; }
    .fs500 { font-size: 1.8em; }
    .pad5  { padding: 1.8px; }
    .pad10 { padding: 3.6px; }
    .pad15 { padding: 5.4px; }
    .pad20 { padding: 7.2px; }
}
@media screen and (min-width: 768.0px) and (max-width: 787.2px),
       screen and (min-height: 432.0px) and (max-height: 442.8px) {
    .fs100 { font-size: 0.41em; }
    .fs125 { font-size: 0.51em; }
    .fs150 { font-size: 0.61em; }
    .fs200 { font-size: 0.82em; }
    .fs500 { font-size: 2.05em; }
    .pad5  { padding: 2.05px; }
    .pad10 { padding: 4.1px; }
    .pad15 { padding: 6.15px; }
    .pad20 { padding: 8.2px; }
}
@media screen and (min-width: 864.0px) and (max-width: 883.2px),
       screen and (min-height: 486.0px) and (max-height: 496.8px) {
    .fs100 { font-size: 0.46em; }
    .fs125 { font-size: 0.58em; }
    .fs150 { font-size: 0.69em; }
    .fs200 { font-size: 0.92em; }
    .fs500 { font-size: 2.3em; }
    .pad5  { padding: 2.3px; }
    .pad10 { padding: 4.6px; }
    .pad15 { padding: 6.9px; }
    .pad20 { padding: 9.2px; }
}
@media screen and (min-width: 960.0px) and (max-width: 979.2px),
       screen and (min-height: 540.0px) and (max-height: 550.8px) {
    .fs100 { font-size: 0.51em; }
    .fs125 { font-size: 0.64em; }
    .fs150 { font-size: 0.77em; }
    .fs200 { font-size: 1.02em; }
    .fs500 { font-size: 2.55em; }
    .pad5  { padding: 2.55px; }
    .pad10 { padding: 5.1px; }
    .pad15 { padding: 7.65px; }
    .pad20 { padding: 10.2px; }
}
@media screen and (min-width: 1056.0px) and (max-width: 1075.2px),
       screen and (min-height: 594.0px) and (max-height: 604.8px) {
    .fs100 { font-size: 0.56em; }
    .fs125 { font-size: 0.7em; }
    .fs150 { font-size: 0.84em; }
    .fs200 { font-size: 1.12em; }
    .fs500 { font-size: 2.8em; }
    .pad5  { padding: 2.8px; }
    .pad10 { padding: 5.6px; }
    .pad15 { padding: 8.4px; }
    .pad20 { padding: 11.2px; }
}
@media screen and (min-width: 1152.0px) and (max-width: 1171.2px),
       screen and (min-height: 648.0px) and (max-height: 658.8px) {
    .fs100 { font-size: 0.61em; }
    .fs125 { font-size: 0.76em; }
    .fs150 { font-size: 0.91em; }
    .fs200 { font-size: 1.22em; }
    .fs500 { font-size: 3.05em; }
    .pad5  { padding: 3.05px; }
    .pad10 { padding: 6.1px; }
    .pad15 { padding: 9.15px; }
    .pad20 { padding: 12.2px; }
}
@media screen and (min-width: 1248.0px) and (max-width: 1267.2px),
       screen and (min-height: 702.0px) and (max-height: 712.8px) {
    .fs100 { font-size: 0.66em; }
    .fs125 { font-size: 0.83em; }
    .fs150 { font-size: 0.99em; }
    .fs200 { font-size: 1.32em; }
    .fs500 { font-size: 3.3em; }
    .pad5  { padding: 3.3px; }
    .pad10 { padding: 6.6px; }
    .pad15 { padding: 9.9px; }
    .pad20 { padding: 13.2px; }
}
@media screen and (min-width: 1344.0px) and (max-width: 1363.2px),
       screen and (min-height: 756.0px) and (max-height: 766.8px) {
    .fs100 { font-size: 0.71em; }
    .fs125 { font-size: 0.89em; }
    .fs150 { font-size: 1.06em; }
    .fs200 { font-size: 1.42em; }
    .fs500 { font-size: 3.55em; }
    .pad5  { padding: 3.55px; }
    .pad10 { padding: 7.1px; }
    .pad15 { padding: 10.65px; }
    .pad20 { padding: 14.2px; }
}
@media screen and (min-width: 1440.0px) and (max-width: 1459.2px),
       screen and (min-height: 810.0px) and (max-height: 820.8px) {
    .fs100 { font-size: 0.76em; }
    .fs125 { font-size: 0.95em; }
    .fs150 { font-size: 1.14em; }
    .fs200 { font-size: 1.52em; }
    .fs500 { font-size: 3.8em; }
    .pad5  { padding: 3.8px; }
    .pad10 { padding: 7.6px; }
    .pad15 { padding: 11.4px; }
    .pad20 { padding: 15.2px; }
}
@media screen and (min-width: 1536.0px) and (max-width: 1555.2px),
       screen and (min-height: 864.0px) and (max-height: 874.8px) {
    .fs100 { font-size: 0.81em; }
    .fs125 { font-size: 1.01em; }
    .fs150 { font-size: 1.21em; }
    .fs200 { font-size: 1.62em; }
    .fs500 { font-size: 4.05em; }
    .pad5  { padding: 4.05px; }
    .pad10 { padding: 8.1px; }
    .pad15 { padding: 12.15px; }
    .pad20 { padding: 16.2px; }
}
@media screen and (min-width: 1632.0px) and (max-width: 1651.2px),
       screen and (min-height: 918.0px) and (max-height: 928.8px) {
    .fs100 { font-size: 0.86em; }
    .fs125 { font-size: 1.07em; }
    .fs150 { font-size: 1.29em; }
    .fs200 { font-size: 1.72em; }
    .fs500 { font-size: 4.3em; }
    .pad5  { padding: 4.3px; }
    .pad10 { padding: 8.6px; }
    .pad15 { padding: 12.9px; }
    .pad20 { padding: 17.2px; }
}
@media screen and (min-width: 1728.0px) and (max-width: 1747.2px),
       screen and (min-height: 972.0px) and (max-height: 982.8px) {
    .fs100 { font-size: 0.91em; }
    .fs125 { font-size: 1.14em; }
    .fs150 { font-size: 1.36em; }
    .fs200 { font-size: 1.82em; }
    .fs500 { font-size: 4.55em; }
    .pad5  { padding: 4.55px; }
    .pad10 { padding: 9.1px; }
    .pad15 { padding: 13.65px; }
    .pad20 { padding: 18.2px; }
}
@media screen and (min-width: 1824.0px) and (max-width: 1843.2px),
       screen and (min-height: 1026.0px) and (max-height: 1036.8px) {
    .fs100 { font-size: 0.96em; }
    .fs125 { font-size: 1.2em; }
    .fs150 { font-size: 1.44em; }
    .fs200 { font-size: 1.92em; }
    .fs500 { font-size: 4.8em; }
    .pad5  { padding: 4.8px; }
    .pad10 { padding: 9.6px; }
    .pad15 { padding: 14.4px; }
    .pad20 { padding: 19.2px; }
}
@media screen and (min-width: 1920.0px) and (max-width: 1939.2px),
       screen and (min-height: 1080.0px) and (max-height: 1090.8px) {
    .fs100 { font-size: 1.01em; }
    .fs125 { font-size: 1.26em; }
    .fs150 { font-size: 1.51em; }
    .fs200 { font-size: 2.02em; }
    .fs500 { font-size: 5.05em; }
    .pad5  { padding: 5.05px; }
    .pad10 { padding: 10.1px; }
    .pad15 { padding: 15.15px; }
    .pad20 { padding: 20.2px; }
}
@media screen and (min-width: 2016.0px) and (max-width: 2035.2px),
       screen and (min-height: 1134.0px) and (max-height: 1144.8px) {
    .fs100 { font-size: 1.06em; }
    .fs125 { font-size: 1.33em; }
    .fs150 { font-size: 1.59em; }
    .fs200 { font-size: 2.12em; }
    .fs500 { font-size: 5.3em; }
    .pad5  { padding: 5.3px; }
    .pad10 { padding: 10.6px; }
    .pad15 { padding: 15.9px; }
    .pad20 { padding: 21.2px; }
}
@media screen and (min-width: 2112.0px) and (max-width: 2131.2px),
       screen and (min-height: 1188.0px) and (max-height: 1198.8px) {
    .fs100 { font-size: 1.11em; }
    .fs125 { font-size: 1.39em; }
    .fs150 { font-size: 1.67em; }
    .fs200 { font-size: 2.22em; }
    .fs500 { font-size: 5.55em; }
    .pad5  { padding: 5.55px; }
    .pad10 { padding: 11.1px; }
    .pad15 { padding: 16.65px; }
    .pad20 { padding: 22.2px; }
}
@media screen and (min-width: 2208.0px) and (max-width: 2227.2px),
       screen and (min-height: 1242.0px) and (max-height: 1252.8px) {
    .fs100 { font-size: 1.16em; }
    .fs125 { font-size: 1.45em; }
    .fs150 { font-size: 1.74em; }
    .fs200 { font-size: 2.32em; }
    .fs500 { font-size: 5.8em; }
    .pad5  { padding: 5.8px; }
    .pad10 { padding: 11.6px; }
    .pad15 { padding: 17.4px; }
    .pad20 { padding: 23.2px; }
}
@media screen and (min-width: 2304.0px) and (max-width: 2323.2px),
       screen and (min-height: 1296.0px) and (max-height: 1306.8px) {
    .fs100 { font-size: 1.21em; }
    .fs125 { font-size: 1.51em; }
    .fs150 { font-size: 1.81em; }
    .fs200 { font-size: 2.42em; }
    .fs500 { font-size: 6.05em; }
    .pad5  { padding: 6.05px; }
    .pad10 { padding: 12.1px; }
    .pad15 { padding: 18.15px; }
    .pad20 { padding: 24.2px; }
}
@media screen and (min-width: 2400.0px) and (max-width: 2419.2px),
       screen and (min-height: 1350.0px) and (max-height: 1360.8px) {
    .fs100 { font-size: 1.26em; }
    .fs125 { font-size: 1.58em; }
    .fs150 { font-size: 1.89em; }
    .fs200 { font-size: 2.52em; }
    .fs500 { font-size: 6.3em; }
    .pad5  { padding: 6.3px; }
    .pad10 { padding: 12.6px; }
    .pad15 { padding: 18.9px; }
    .pad20 { padding: 25.2px; }
}
@media screen and (min-width: 2496.0px) and (max-width: 2515.2px),
       screen and (min-height: 1404.0px) and (max-height: 1414.8px) {
    .fs100 { font-size: 1.31em; }
    .fs125 { font-size: 1.64em; }
    .fs150 { font-size: 1.96em; }
    .fs200 { font-size: 2.62em; }
    .fs500 { font-size: 6.55em; }
    .pad5  { padding: 6.55px; }
    .pad10 { padding: 13.1px; }
    .pad15 { padding: 19.65px; }
    .pad20 { padding: 26.2px; }
}
@media screen and (min-width: 2592.0px) and (max-width: 2611.2px),
       screen and (min-height: 1458.0px) and (max-height: 1468.8px) {
    .fs100 { font-size: 1.36em; }
    .fs125 { font-size: 1.7em; }
    .fs150 { font-size: 2.04em; }
    .fs200 { font-size: 2.72em; }
    .fs500 { font-size: 6.8em; }
    .pad5  { padding: 6.8px; }
    .pad10 { padding: 13.6px; }
    .pad15 { padding: 20.4px; }
    .pad20 { padding: 27.2px; }
}
@media screen and (min-width: 2688.0px) and (max-width: 2707.2px),
       screen and (min-height: 1512.0px) and (max-height: 1522.8px) {
    .fs100 { font-size: 1.41em; }
    .fs125 { font-size: 1.76em; }
    .fs150 { font-size: 2.11em; }
    .fs200 { font-size: 2.82em; }
    .fs500 { font-size: 7.05em; }
    .pad5  { padding: 7.05px; }
    .pad10 { padding: 14.1px; }
    .pad15 { padding: 21.15px; }
    .pad20 { padding: 28.2px; }
}
@media screen and (min-width: 2784.0px) and (max-width: 2803.2px),
       screen and (min-height: 1566.0px) and (max-height: 1576.8px) {
    .fs100 { font-size: 1.46em; }
    .fs125 { font-size: 1.83em; }
    .fs150 { font-size: 2.19em; }
    .fs200 { font-size: 2.92em; }
    .fs500 { font-size: 7.3em; }
    .pad5  { padding: 7.3px; }
    .pad10 { padding: 14.6px; }
    .pad15 { padding: 21.9px; }
    .pad20 { padding: 29.2px; }
}
@media screen and (min-width: 2880.0px) and (max-width: 2899.2px),
       screen and (min-height: 1620.0px) and (max-height: 1630.8px) {
    .fs100 { font-size: 1.51em; }
    .fs125 { font-size: 1.89em; }
    .fs150 { font-size: 2.27em; }
    .fs200 { font-size: 3.02em; }
    .fs500 { font-size: 7.55em; }
    .pad5  { padding: 7.55px; }
    .pad10 { padding: 15.1px; }
    .pad15 { padding: 22.65px; }
    .pad20 { padding: 30.2px; }
}
@media screen and (min-width: 2976.0px) and (max-width: 2995.2px),
       screen and (min-height: 1674.0px) and (max-height: 1684.8px) {
    .fs100 { font-size: 1.56em; }
    .fs125 { font-size: 1.95em; }
    .fs150 { font-size: 2.34em; }
    .fs200 { font-size: 3.12em; }
    .fs500 { font-size: 7.8em; }
    .pad5  { padding: 7.8px; }
    .pad10 { padding: 15.6px; }
    .pad15 { padding: 23.4px; }
    .pad20 { padding: 31.2px; }
}
@media screen and (min-width: 3072.0px) and (max-width: 3091.2px),
       screen and (min-height: 1728.0px) and (max-height: 1738.8px) {
    .fs100 { font-size: 1.61em; }
    .fs125 { font-size: 2.01em; }
    .fs150 { font-size: 2.42em; }
    .fs200 { font-size: 3.22em; }
    .fs500 { font-size: 8.05em; }
    .pad5  { padding: 8.05px; }
    .pad10 { padding: 16.1px; }
    .pad15 { padding: 24.15px; }
    .pad20 { padding: 32.2px; }
}
@media screen and (min-width: 3168.0px) and (max-width: 3187.2px),
       screen and (min-height: 1782.0px) and (max-height: 1792.8px) {
    .fs100 { font-size: 1.66em; }
    .fs125 { font-size: 2.08em; }
    .fs150 { font-size: 2.49em; }
    .fs200 { font-size: 3.32em; }
    .fs500 { font-size: 8.3em; }
    .pad5  { padding: 8.3px; }
    .pad10 { padding: 16.6px; }
    .pad15 { padding: 24.9px; }
    .pad20 { padding: 33.2px; }
}
@media screen and (min-width: 3264.0px) and (max-width: 3283.2px),
       screen and (min-height: 1836.0px) and (max-height: 1846.8px) {
    .fs100 { font-size: 1.71em; }
    .fs125 { font-size: 2.14em; }
    .fs150 { font-size: 2.56em; }
    .fs200 { font-size: 3.42em; }
    .fs500 { font-size: 8.55em; }
    .pad5  { padding: 8.55px; }
    .pad10 { padding: 17.1px; }
    .pad15 { padding: 25.65px; }
    .pad20 { padding: 34.2px; }
}
@media screen and (min-width: 3360.0px) and (max-width: 3379.2px),
       screen and (min-height: 1890.0px) and (max-height: 1900.8px) {
    .fs100 { font-size: 1.76em; }
    .fs125 { font-size: 2.2em; }
    .fs150 { font-size: 2.64em; }
    .fs200 { font-size: 3.52em; }
    .fs500 { font-size: 8.8em; }
    .pad5  { padding: 8.8px; }
    .pad10 { padding: 17.6px; }
    .pad15 { padding: 26.4px; }
    .pad20 { padding: 35.2px; }
}
@media screen and (min-width: 3456.0px) and (max-width: 3475.2px),
       screen and (min-height: 1944.0px) and (max-height: 1954.8px) {
    .fs100 { font-size: 1.81em; }
    .fs125 { font-size: 2.26em; }
    .fs150 { font-size: 2.71em; }
    .fs200 { font-size: 3.62em; }
    .fs500 { font-size: 9.05em; }
    .pad5  { padding: 9.05px; }
    .pad10 { padding: 18.1px; }
    .pad15 { padding: 27.15px; }
    .pad20 { padding: 36.2px; }
}
@media screen and (min-width: 3552.0px) and (max-width: 3571.2px),
       screen and (min-height: 1998.0px) and (max-height: 2008.8px) {
    .fs100 { font-size: 1.86em; }
    .fs125 { font-size: 2.33em; }
    .fs150 { font-size: 2.79em; }
    .fs200 { font-size: 3.72em; }
    .fs500 { font-size: 9.3em; }
    .pad5  { padding: 9.3px; }
    .pad10 { padding: 18.6px; }
    .pad15 { padding: 27.9px; }
    .pad20 { padding: 37.2px; }
}
@media screen and (min-width: 3648.0px) and (max-width: 3667.2px),
       screen and (min-height: 2052.0px) and (max-height: 2062.8px) {
    .fs100 { font-size: 1.91em; }
    .fs125 { font-size: 2.39em; }
    .fs150 { font-size: 2.86em; }
    .fs200 { font-size: 3.82em; }
    .fs500 { font-size: 9.55em; }
    .pad5  { padding: 9.55px; }
    .pad10 { padding: 19.1px; }
    .pad15 { padding: 28.65px; }
    .pad20 { padding: 38.2px; }
}
@media screen and (min-width: 3744.0px) and (max-width: 3763.2px),
       screen and (min-height: 2106.0px) and (max-height: 2116.8px) {
    .fs100 { font-size: 1.96em; }
    .fs125 { font-size: 2.45em; }
    .fs150 { font-size: 2.94em; }
    .fs200 { font-size: 3.92em; }
    .fs500 { font-size: 9.8em; }
    .pad5  { padding: 9.8px; }
    .pad10 { padding: 19.6px; }
    .pad15 { padding: 29.4px; }
    .pad20 { padding: 39.2px; }
}
